@charset "utf-8";
/*
lighten(@color, 10%);  返回的颜色在@color基础上变亮10% *
darken(@color, 10%);  返回的颜色在@color基础上变暗10%*
saturate(@color, 10%);   返回的颜色在@color基础上饱和度增加10% *
desaturate(@color, 10%); 返回的颜色在@color基础上饱和度降低10%*
spin(@color, 10);  返回的颜色在@color基础上色调增加10*
spin(@color, -10);  返回的颜色在@color基础上色调减少10 
mix(@color1, @color2);  返回的颜色是@color1和@color2两者的混合色  
*/
/* 
	RJ-CMS CSS Variables 
	其中的注释说明：
	simple configuration 表示简易配置sponsive unique 响应试特有
*/
/*************** 色调 ************************/
/* 主色调 simple configuration */
/* 黑色 */
/* 成功色 */
/* 信息色 */
/* 提醒色 */
/* 警告色 */
/* 辅色调 simple configuration */
/* 强调色（文字滑过效果，可与主色一致）*/
/* 融合色 */
/* 背景色(可与主色一致) */
/***************end 色调 ************************/
/*************** 字体 ************************/
/* 大于768下基础字体*/
/* 小于768下基础字体*/
/*文字下划线*/
/* 基础字体大小,行高，宽度，字体颜色,字体链接色，链接背景颜色  */
/*强调的文字字体大小，行高，宽度*/
/*************** 背景 ************************/
/* 背景色 simple configuration */
/* 背景图片 simple configuration */
/***************end 背景 ************************/
/***************top-banner图片 ************************/
/*PC版的头部banner*/
/*手机版的头部banner*/
/*PAD版的头部banner*/
/***************END top-banner图片 ************************/
/*************** 边框 ************************/
/* 基础边框宽度 样式 颜色*/
/* 辅助边框宽度 样式 颜色*/
/***************end 边框 ************************/
/****************** 间距 *********************/
/* modhead内边距 */
/* modcon内边距 */
/* mod块上边外间距 */
/* mod块左边外间距 */
/*通用内边距 */
/*通用外边距 */
/***************end 间距************************/
/***************end 标题 ************************/
/* 主标题 */
/* 主标题字体颜色  鼠标经过颜色  字体大小 行高 字体风格 字体宽度*/
/* 副标题 */
/* 主标题字体颜色  鼠标经过颜色  字体大小 行高 字体风格 字体宽度*/
/***************end 标题 ************************/
/***************  小图标 ************************/
/*热点小图标 */
/*最新消息小图标 */
/*排行小图标 */
/* CSS Document */
/*
直角模块：
大模块：mod-rec-l1;mod-rec-l2;
主模块：mod-rec-m1;
次模块：mod-rec-s1;
TAB模块：tab-rec-1;tab-rec-2;

圆角模块：
大模块：mod-cir-l1;mod-cir-l2;
主模块：mod-cir-m1;
次模块：mod-cir-s1;
TAB模块：tab-cir-1;tab-cir-2;

直角数据块：data-cir-1,data-cir2;
圆角数据块：data-cir-01,data-cir-02;

强调的数据块：em-dcon;
LI强调信息：em-news;
LI前缀：preicon;
类别：sort
时间：time

/*字体*/
body {
  font-size: 16px;
  font-family: "微软雅黑", Helvetica;
  line-height: 2em;
}
/*手机与PAD版默认字体大小与样式*/

  body {
    font-size: 16px;
    font-family: "微软雅黑", Helvetica;
    overflow-x:hidden;
  }
  /*PC版默认字体大小与样式*/

/*链接*/
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2898fd;
  text-decoration: none;
}
/*文字颜色*/
.p-color,
.p-color:hover,
.p-color a,
.p-color a:hover {
  color: #2898fd;
}
.s-color,
.s-color:hover {
  color: #e9e9e9;
}
.font-primary,
.font-primary:hover {
  color: #2898fd;
}
.font-secondary,
.font-secondary:hover {
  color: #888;
}
.font-success,
.font-success:hover {
  color: #43AC6A;
}
.font-alert,
.font-alert:hover {
  color: #f04124;
}
.font-warning,
.font-warning:hover {
  color: #f08a24;
}
em {
  font-style: normal;
  color: #db2300;
}
/*边框样式*/
.p-border {
  border: 1px solid #ffffff;
}
.s-border {
  border: 1px dashed #cccccc;
}
.no-border {
  border: none !important;
}
/*边距*/
.margin-t {
  margin-top: 10px !important;
}
.margin-r {
  margin-right: 10px !important;
}
.margin-b {
  margin-bottom: 10px !important;
}
.margin-l {
  margin-left: 10px !important;
}
.margin-l30 {
  margin-left: 30px;
}
.padding-t {
  padding-top: 10px !important;
}
.padding-r {
  padding-right: 10px !important;
}
.padding-b {
  padding-bottom: 10px !important;
}
.padding-l {
  padding-left: 10px !important;
}
/* 按钮
色调(背景色区分):默认主色调;hollow;secondary;success;info;alert;warning.空白背景(强制将按钮背景转成白色):hollow.
状态:large(大),medium(中),normal(适中),small(小),tiny(迷你);round(圆形),radius(圆角);disabled(不可用);expand(100%宽度);right-align(文本右对齐),left-align(文本左对齐) */
button,
.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  background-color: #2898fd;
  border-color: #2898fd;
  border-radius: 3px;
  color: #ffffff;
  transition: background-color 300ms ease-out;
  behavior: url(PIE/PIE.htc);
  /*behavior: url(PIE/PIE.php);*/
}
.button:hover{color:#fff;background-color:#0b8cfd;}
.button-bar:before,
.button-bar:after {
  content: " ";
  display: table;
}
.button-bar:after {
  clear: both;
}
.button-bar .button-group {
  float: left;
  margin-right: 0.625rem;
}
.button-bar .button-group div {
  overflow: hidden;
}

.columns{
  float: left;
}
.column{
  float: left;
  position: relative;
}
.column .row,
.columns .row{
  width: auto !important;
}
  button,
  .button {
    display: inline-block;
  }

/* Standard Forms */
form {
  margin: 0 0 1rem;
}
/* Using forms within rows, we need to set some defaults */
form .row .row {
  /*margin: 0 -0.5rem;*/
}
form .row .row .column,
form .row .row .columns {
  padding: 0 0.5rem;
}
form .row .row.collapse {
  margin: 0;
}
form .row .row.collapse .column,
form .row .row.collapse .columns {
  padding: 0;
}
form .row .row.collapse input {
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.5rem;
}
/* Label Styles */
label {
  font-size: 16px;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 1em;
  /* Styles for required inputs */
}

label small {
  text-transform: capitalize;
  color: #676767;
}
label input,
label select,
label textare {
  margin-bottom: 5px;
}
.button.disabled:hover {
  cursor: not-allowed;
}
.label {
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  margin-bottom: auto;
  padding: 7px 10px ;
  font-size: 12px;
  background-color: #1e88ea;
  color: #FFFFFF;
}
.radius {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px}
.round {
border-radius: 1000px; }
.black {
background-color: #333;
border:none;
color: #fff; }
.alert1 {
background-color: #ff4200;
border:none;
color: #fff; }
.warning1 {
background-color: #ff9900;
border:none;
color: #fff; }
.success1 {
background-color: #28b779;
border:none;
color: #fff; }
.secondary1 {
background-color: #e9e9e9;
border:none;
color: #666; }
.info {
background-color: #6999ee;
border:none;
color: #333333; }
.black:hover{color:#fff;}
.alert1:hover{color:#fff;background-color:#cc3500;}
.warning1:hover{color:#fff;background-color:#cc7a00;}
.success1:hover{color:#fff;background-color:#1f8d5d;}
.secondary1:hover{color:#666;background-color:#d5d5d5;}
.info:hover{color:#333;}

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  border-style: solid;
  border-width: 1px;
  overflow: visible;
  font-size: 0.875rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
}

/* basic form elements */
/* 基本input样式 */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"]
 {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  padding: 8px;
  *padding: 0px;
  _padding: 0px;
  /*line-height: 37px;*/
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
  margin: 0;
  /*text-indent:8px;*/
  clear:both;
  z-index: 1;
  height: 36px;
  line-height: 36px;
  _height: 36px;
  _line-height: 36px;
}
textarea{

  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 14px;
  padding: 8px;
  *padding: 5px;
  _padding: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
  margin: 0;
  clear:both;
  z-index: 1;
  _height:100px;
  overflow:hidden;
}

input{
  font-size: 14px;
  padding: 8px;
  height:36px;
  line-height:36px;
  *padding: 0px;
  _padding: 0px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus,
.input-layout:focus,
.input-layout:active {
  background: #fafafa;
  border-color: #8dc8fe;
  outline: none;
  _height: 36px;
  _line-height: 36px;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="month"]:disabled,
input[type="week"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="color"]:disabled,
textarea:disabled {
  background-color: #DDDDDD;
  cursor: default;
}
input[type="text"][disabled],
input[type="text"][readonly],
fieldset[disabled] input[type="text"],
input[type="password"][disabled],
input[type="password"][readonly],
fieldset[disabled] input[type="password"],
input[type="date"][disabled],
input[type="date"][readonly],
fieldset[disabled] input[type="date"],
input[type="datetime"][disabled],
input[type="datetime"][readonly],
fieldset[disabled] input[type="datetime"],
input[type="datetime-local"][disabled],
input[type="datetime-local"][readonly],
fieldset[disabled] input[type="datetime-local"],
input[type="month"][disabled],
input[type="month"][readonly],
fieldset[disabled] input[type="month"],
input[type="week"][disabled],
input[type="week"][readonly],
fieldset[disabled] input[type="week"],
input[type="email"][disabled],
input[type="email"][readonly],
fieldset[disabled] input[type="email"],
input[type="number"][disabled],
input[type="number"][readonly],
fieldset[disabled] input[type="number"],
input[type="search"][disabled],
input[type="search"][readonly],
fieldset[disabled] input[type="search"],
input[type="tel"][disabled],
input[type="tel"][readonly],
fieldset[disabled] input[type="tel"],
input[type="time"][disabled],
input[type="time"][readonly],
fieldset[disabled] input[type="time"],
input[type="url"][disabled],
input[type="url"][readonly],
fieldset[disabled] input[type="url"],
input[type="color"][disabled],
input[type="color"][readonly],
fieldset[disabled] input[type="color"],
textarea[disabled],
textarea[readonly],
fieldset[disabled] textarea {
  background-color: #DDDDDD;
  cursor: default;
}
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
.input-layout {
  -webkit-appearance: none;
  border-radius: 0;
  background-color: #ffffff;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  height: 2.3125rem;
  line-height: 2.3125rem;
  white-space: nowrap;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.15s linear;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.input-layout .placeholder {
  display: inline;
  border: none;
  margin-right: 5px;
  color: #888;
  line-height: 1em;
  width: auto;
  box-shadow: none;
}
/* input边框.全局色调:不可用,默认,primary,secondary,success,alert,warning,info */
input[type="text"]:disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}
/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto;
}
/* Not allow resize out of parent */
textarea {
  max-width: 100%;
}
/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #FAFAFA;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
  height: 36px;
}
select::-ms-expand {
  display: none;
}
select:disabled {
  background-color: #DDDDDD;
  cursor: default;
}
select[multiple] {
  height: auto;
}
select:hover,
select:focus {
  border-color: #8dc8fe;
  box-shadow: inset 0 0 3px #f2f9ff;
  outline: none;
}
/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1rem 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}
/* Normalize file input width */
input[type="file"] {
  width: 100%;
}
/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
  border: 1px solid #DDDDDD;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
fieldset legend {
  font-weight: bold;
  background: #FFFFFF;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}
.error input,
.error textarea,
.error select {
  margin-bottom: 0;
}
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem;
}
.error label,
.error label.error {
  color: #f04124;
}

/*-----------------公共模块----------------------*/
.main {
  background-color: #e6ebef;
}
/*默认模块*/
.modtitle h2,
.modtitle h3,
.modtitle h4,
.modtitle h2 a,
.modtitle h3 a,
.modtitle h4 a,
.tabtitle h2,
.tabtitle h3,
.tabtitle h4,
.tabtitle h2 a,
.tabtitle h3 a,
.tabtitle h4 a,
.tab li h2,
.tab li h3,
.tab li h4,
.tab li h2 a,
.tab li h3 a,
.tab li h4 a {
  font-weight: inherit;
  font-size: inherit;
}
/*默认TAB*/
.tab li {
  text-align: center;
  cursor: pointer;
}
.tab li a:hover {
  text-decoration: none;
}
/*--------------------数据块通用样式------------------*/

/*强调数据块*/
.hot-info {
  font-size: 1rem;
}
.hot-info .hot-title,
.hot-info .hot-title a {
  color: #2898fd;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2em;
  text-align: center;
  font-family: "微软雅黑";
}
.hot-info .hot-list li {
  line-height: 2rem;
}
.hot-info .hot-list li .hot-tag {
  background: url(../images/New.gif) no-repeat right center;
  padding: 0 25px 0 0;
}

  .hot-info {
    font-size: 0.75rem;
    line-height: 2em;
  }
  /*强调数据块*/
  .hot-info .hot-title {
    font-size: 1rem;
    font-weight: 500;
  }
  .hot-info .hot-list li {
    line-height: 14px;
  }

/*强调字体*/
.em-news {
  background: none;
  border-bottom: none;
  font-weight: bold;
  text-align: center;
  color: #2898fd;
  font-size: 1.125em;
  line-height: 2em;
}
/*强调信息*/
.em-news a {
  color: #2898fd;
  line-height: 2em;
}
/*强调字体大小*/
/*分类字体颜色*/
.sort {
  color: #2898fd;
  padding-right: 3px;
}
.sort a {
  color: #2898fd;
}
.time,
.time a {
  color: #8f8f8f;
  background: none;
}
/*图片、幻灯片ICON*/
/*幻灯片轮播标识*/
.orbit-bullets li.active {
  background-color: #fff;
}
/*排行*/
.list-info li {
  border-bottom: #ddd dashed 1px;
  line-height: 30px;
}
.list-info .top-num {
  float: left;
  display: inline-block;
  background: #f7f7f7;
  color: #e9e9e9;
  border-radius: 0px;
  border: 1px solid #ffffff;
  color: #2898fd;
  padding: 0 5px;
  margin: 6px 8px 0 0;
  height: 15px;
  line-height: 15px;
}
.list-info .count {
  float: right;
  display: inline-block;
}
.list-info .top_01 {
  background: #f54545;
  color: #fff;
  border: 1px solid #f54545;
}
.list-info .top_02 {
  background: #ff8547;
  color: #fff;
  border: 1px solid #ff8547;
}
.list-info .top_03 {
  background: #ffac38;
  color: #fff;
  border: 1px solid #ffac38;
}
/*排行*/
.rank li {
  line-height: 32px;
  position: relative;
  padding-left: 28px;
  font-size:14px;
}
.rank .top-num {
  position: absolute;
  left: 0;
  _left: -25px;
  background: #eee;
  color: #e9e9e9;
  border-radius: 0px;
  color: #666;
  margin: 6px 8px 0 0;
  height: 22px;
  text-align: center;
  line-height: 22px;
  width: 22px;
  border-radius: 32px;
}
.rank .count {
  float: right;
  display: inline-block;
  color: #999;
}
.rank .top_01 {
  background: #f54545;
  color: #fff;
}
.rank .top_02 {
  background: #ff8547;
  color: #fff;
}
.rank .top_03 {
  background: #ffac38;
  color: #fff;
}
/*图片或视频列表*/
.photo_list {
  padding: 10px 6%;
}
.photo_list li {
  padding: 10px 10px;
}
.photo_list.p-style img {
  padding: 3px;
  border-color: #ffffff;
}
.photo_list a {
  display: block;
  position: relative;
}
.photo_list a span {
  display: block;
  height: 25%;
  width: 23%;
  position: absolute;
  left: 45%;
  top: 40%;
  margin-top: -11%;
  margin-left: -6%;
}
.photo_list a span.play_icon {
  width: 100%;
  height: 100%;
  top: 5px;
  left: 10px;
  position: absolute;
  display: block;
  background: url(../images/play.png) no-repeat center center;
  background-size: 25%;
}
.photo_list a:hover span.play_icon {
  background: url(../images/play_h.png) no-repeat center center;
  background-size: 25%;
}
.photo_list a p {
  line-height: 14px;
}
/*-----------------------列表页------------------------*/
/*列表侧边栏目*/
.sidenav {
  background-color: #f8f8f8;
  border-radius: 3px;
  overflow: visible;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-width: 1px 0 0 1px;
  margin-bottom: 10px;
}
.sidenav ul {
  margin: 0;
}
.sidenav .modhead {
  overflow: visible;
}
.sidenav .modhead .modtitle {
  float: none;
  position: relative;
}
.sidenav .modhead .modtitle .titbtn {
  display: block;
  height: 60px;
  position: relative;
  border-bottom: #ddd solid 1px;
  cursor: pointer;
  padding: 10px 51px 10px 15px;
}
.sidenav .modhead .modtitle .userinfoset:hover {
  background-color: #e5e5e5;
}
.sidenav .modhead .modtitle .userinfoset {
  display: block;
  position: absolute;
  width: 51px;
  height: 59px;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: #f8f8f8;
}
.sidenav .modhead .modtitle .userinfoset:before {
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 70%;
  background: #e5e5e5;
  top: 15%;
  right: 50px;
}
.sidenav .modhead .modtitle .userinfoset:after {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 4px;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  border-top-style: solid;
  top: 27px;
  right: 21px;
}
.sidenav .username,
.sidenav .userblog {
  display: block;
  position: relative;
  line-height: 20px;
}
.sidenav .username {
  font-size: 0.875rem;
  font-weight: bold;
}
.sidenav .userblog {
  font-size: 0.75rem;
}
.sidenav .modhead .modtitle .f-dropdown {
  width: 100% !important;
  max-width: none;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sidenav .modhead .modtitle .f-dropdown.open {
  left: 0 !important;
}
.sidenav .modhead .modtitle .f-dropdown li a {
  padding: 13px 15px;
  line-height: 1em;
}
.sidenav .modcon {
  padding: 0;
}
.sidelist {
  list-style: none;
  margin: 0;
}
.sidelist li {
  border-top: #ddd dotted 1px;
  position: relative;
}
.sidelist li:first-child {
  border-top: none;
}
.sidelist li a {
  display: block;
  padding: 13px 15px;
  white-space: nowrap;
  font-size: 0.875rem;
  line-height: 1em;
  text-decoration: none;
}
.sidelist li a:hover,
.sidelist li.active a {
  background-color: #fff;
  color: #000;
}
.sidelist li .fa {
  color: #888;
}
.sidelist li.divider {
  border-top: #ddd solid 1px;
}
.sidelist li.divider a {
  background-color: #eee;
  color: #000;
}
.sidelist li .count {
  display: inline-block;
  float: right;
  color: #888;
  font-size: 0.75rem;
}
.sidelist li .fa-fw {
  margin-right: 10px;
  text-align: center;
}
.sidelist li a:hover .fa,
.sidelist li.active .fa {
  color: #333;
}
.append-aside {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
.append-aside .sidenav {
  background-color: #fff;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}
.append-aside .sidelist li a:hover,
.append-aside .sidelist li.active a {
  background-color: #eee;
  color: #000;
}
.append-aside .sidenav:last-child {
  margin-bottom: 0px;
}
.follow,
.follow .fa {
  color: #888;
}
.follow:hover,
.follow:hover .fa {
  color: #333;
}
.userlist {
  margin: 0;
  padding: 0;
}
.userlist li {
  border-top: #ddd dotted 1px;
  position: relative;
  width: 204px;
  overflow: hidden;
}
.userlist .nob {
  border-top: none;
}
.userlist li a {
  display: block;
 padding: 11px 15px 13px 57px;
  white-space: nowrap;
  font-size: 14px;
  text-decoration: none;
}
.userlist a:hover {
  color: #222;
}
.userlist-small .userpre {
  padding: 11px 0 10px 43px;
}
.userlist .user-photo-m {
  width: 36px;
  height: 36px;
  overflow: hidden;
  position: absolute;
  left: 10px;
  top: 10px;
}
.userlist .user-photo-s {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  overflow: hidden;
  position: absolute;
  left: 8px;
  top: 10px;
}
.userlist .user-photo-s img {
  width: 24px;
  height: 24px;
}
.userlist .user-photo-m img {
  width: 36px;
  height: 36px;
}
.userlist .user-info {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}
.userlist .user-info .icon-noins{
	background:url(../images/icon_noins.png) no-repeat;
	width:10px;
	height:9px;
	display:inline-block;
	display:none;
	position:absolute;
}
.userlist .user-info .name{position:relative;}
.userlist a:hover .user-info .icon-noins{display:inline-block;}
.userlist .user-info .icon-noins:hover{
	background:url(../images/icon_remove.png) no-repeat;
	width:15px;
	height:14px;
	display:inline-block;
	margin-left:3px;
}
.userlist .user-info small {
color: #888;
  font-size: 12px;
  width: 108px;
  max-width: 108px;
  overflow: hidden;
  display: block;
}
.userlist a .unlike {
  display: none;
  margin-left: 5px;
}
.userlist a:hover .fa.unlike {
  display: inline;
  color: #888;
}
.userlist a:hover .fa.unlike:hover {
  color: #2898fd;
  font-size: 16px;
}
.userlist a:hover .fa.unlike:hover:before {
  content: "\f057";
}
.userlist .follow {
  display: block;
  overflow: visible !important;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  padding: 0;
  top: 36%;
  right: 15px;
}
.userlist .follow .icon-attention{
	  background: url(../images/icon_attention.png) no-repeat;
  width: 14px;
  height: 14px;
  display: block;
}
.userlist .rbtn {
  position: absolute;
  top: 13px;
  right: 5px;
  padding: 8px 10px;
}
.follow-list li {
  padding-right: 80px;
}
.follow-list .userpre {
  padding-right: 6px !important;
}
.follow:hover {
  color: #2898fd !important;
}

  .sidenav {
    margin-bottom: 18px;
  }

.mod-list {
  width: 100%;
  padding: 10px;
  background: #fff;
  min-height: 400px;
}
.list_box .modhead {
  background: url(../images/about_list_bg_06.gif) no-repeat;
  height: 34px;
  line-height: 34px;
  border: none;
}
.list_box .modhead .modmore a {
  color: #2898fd;
}
.list_box .modhead .modtitle {
  padding: 0 0 0 35px;
  color: #2898fd;
  font-weight: bold;
  font-size: 1rem;
}
.list_box .modhead .modmore {
  padding-right: 15px;
}
.list_box .modcon {
  border: none;
  padding: 10px 0px;
}


.line {
  display: block;
  background: none !important;
  padding: 0 !important;
  width: 100%;
  border: #dbdbdb dashed 1px;
  border-width: 0 0 1px 0;
  height: 1px;
  margin: 4px 0;
}
/*查看更多按钮*/
.btn-more {
  display: block;
  padding: 5px 0;
  margin-top: 10px;
}
.btn-more a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  text-align: center;
  border: 1px solid #dbdbdb;
  height: 2.25em;
  line-height: 2.25em;
  background-color: #fcfcfc;
}
.btn-more a:hover {
  background-color: #eee;
  border-color: #eee;
}

/*分页样式*/
.pages {
  padding: 20px 0;
  width: 100%;
  overflow: hidden;
  font-size: 0.75rem;
}
.pages ul {
  float: left;
  position: relative;
  left: 50%;
}
.pages li {
  list-style: none;
  float: left;
  font-family: 宋体;
  color: #999;
  position: relative;
  right: 50%;
  font-size: 12px;
  margin: 5px 3px;
  line-height: 32px;
}
.pages li span.curpage {
  color: #289df5;
}
.pages li span.currecords {
  color: #289df5;
}
.pages li a {
  padding: 0 10px;
  display: block;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d1d1d1;
  background: #fbfbfb;
  float: left;
}
.pages li.on {
  border: 1px solid #289df5;
  background: #ffffff;
  color: #289df5;
  line-height: 30px;
  text-align: center;
  margin: 5px 5px 0;
  padding: 0 12px;
}
.pages li.dots {
  font-family: Tahoma;
  font-size: 14px;
}
.pages li.dots a:hover {
  border: none;
  color: #289df5;
}
.pages li.dots a {
  border: none ;
  background: #ffffff;
}
.pages li a:hover {
  border: 1px solid #289df5;
  background: #ffffff;
  color: #289df5;
  text-decoration: none;
}
.page li:nth-child(10) {
  margin-left: 30px;
}
.pages li input {
  height: 30px;
  width: 48px;
  line-height: 30px;
  padding: 0px;
}
.pages .skip {
  display: none;
  padding: 0px 5px;
  line-height: normal;
}
.pages li .skip_box {
  display: inline-block;
  border: 1px solid #999;
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 2px 4px;
  line-height: 22px;
  border-radius: 2px;
}
.pages li .skip_btn {
  font-family: Verdana;
  background: #f7f7f7;
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  height: 24px;
  line-height: 24px;
  width: 50px;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}
.pages li .skip_btn:hover {
  background: #289df5;
  color: #fff;
  border-color: #289df5;
}
.pages li a {
  padding: 0 12px;
  line-height: 30px;
}
.pages li.on {
  line-height: 30px;
  text-align: center;
  margin: 5px 3px 0;
  padding: 0 12px;
}
.pages li .skip_box {
  height: 22px;
  line-height: 22px;
  border-radius: 3px;
}
.pages li .skip_btn {
  height: 24px;
  width: 40px;
  padding: 0;
  margin: 0;
}

/*----------------------文章页-----------------------*/
.article_box {
  padding: 20px 10px 10px;
  background: url(../images/about_article_bg_03.gif) repeat-x top center #ffffff;
  border-width: 0;
}

/*相关链接 标题大小，颜色，低边框*/
.relate {
  padding: 10px 20px;
  margin: 0;
  border: #c1c1c1 dashed 1px;
  border-width: 1px 0 0 0;
}
.relate .relate_tit {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #2898fd;
}
.relate li {
  line-height: 28px;
  font-size: 14px;
}
/*提示框*/
/*member-grade*/
.senior {
  background: url(../images/medal_icons.png) no-repeat;
  width: 25px;
  height: 35px;
  display: block;
}
.senior-1 {
  background-position: -3px 0px;
}
.senior-2 {
  background-position: -3px -40px;
}
.senior-3 {
  background-position: -3px -85px;
  width: 15px;
  height: 24px;
}
.senior-4 {
  background-position: -3px -115px;
  width: 15px;
  height: 24px;
}
.junior {
  background: url(../images/medal_icons.png) no-repeat;
  width: 50px;
  height: 30px;
  display: block;
}
.junior-1 {
  background-position: -76px 0;
}
.junior-2 {
  background-position: -76px -28px;
}
.junior-3 {
  background-position: -76px -56px;
}
.junior-4 {
  background-position: -76px -84px;
}
.junior-5 {
  background-position: -76px -112px;
}
.integration {
  background: url(../images/medal_icons.png) no-repeat;
  width: 40px;
  height: 18px;
  display: block;
}
.integration-1 {
  background-position: -170px 0;
}
.integration-2 {
  background-position: -170px -17px;
}
.integration-3 {
  background-position: -170px -34px;
}
.integration-4 {
  background-position: -170px -51px;
}
.integration-5 {
  background-position: -170px -68px;
}
/* 边框样式.色值:p-color,s-color,border-gray,border-alert,border-success,border-info,border-warning.各边单独设置:border-b,border-t,border-l,border-r.无边框:no-border */
.p-border {
  border: 1px solid #ff7300;
}
.s-border {
  border: 1px dashed #dddddd;
}
.border-gray {
  border: 1px solid #dddddd;
}
.border-success {
  border: 1px solid #5cb85c;
}
.border-alert {
  border: 1px solid #c62926;
}
.border-warning {
  border: 1px solid #f0ad4e;
}
.border-info {
  border: 1px solid #5bc0de;
}
.border-b {
  border-bottom: 1px solid #dddddd;
}
.border-r {
  border-right: 1px solid #dddddd;
}
.border-l {
  border-left: 1px solid #dddddd;
}
.border-t {
  border-top: 1px solid #dddddd;
}
.border-b0 {
  border-bottom: 0;
}
.border-r0 {
  border-right: 0;
}
.border-l0 {
  border-left: 0;
}
.border-t0 {
  border-top: 0;
}
.no-border {
  border: none !important;
}
/* 错误校验 */
[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error {
  display: block;
  padding: 0.175rem 0.5625rem 0.375rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: normal;
  background: #ff4200;
  color: #ffffff;
}
[data-abide] span.error,
[data-abide] small.error {
  display: none;
}
span.error,
small.error {
  display: block;
  line-height: 1rem;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: normal;
  background: #ff4200;
  color: #ffffff;
}
.error input,
.error textarea,
.error select {
  /*  margin-bottom: 0; */
}
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1rem;
}
.error label,
.error label.error {
  color: #ff4200;
}
.error small.error {
  display: block;
  padding: 0.375rem 0.5625rem 0.5625rem;
  margin-top: -1px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: normal;
  background: #ff4200;
  color: #ffffff;
}
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-size: 60%;
  margin: 0;
  display: inline;
}
.error span.error-message {
  display: block;
}
input.error,
textarea.error,
select.error {
  margin-bottom: 0;
}
label.error {
  color: #ff4200;
}
[data-abide] .text-area.error small.error {
  bottom: 4rem;
}
[data-abide] .error small.error {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 0 3rem 0;
  padding: 10px 15px;
  background: #4B4F54;
  border-radius: 4px;
}
[data-abide] .error small.error i {
  color: #eb6864;
  font-size: 1rem;
}
[data-abide] .error small.error:after {
  position: absolute;
  bottom: -10px;
  right: 15px;
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 14px solid #4B4F54;
}
/* input边框.全局色调:不可用,默认,primary,secondary,success,alert,warning,info */
input[type="text"]:disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
input.round {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
input.primary {
  border: 1px solid #2898fd;
}
input.secondary {
  border: 1px solid #e9e9e9;
}
input.success {
  border: 1px solid #28b779;
}
input.alert {
  border: 1px solid #ff4200;
}
input.warning {
  border: 1px solid #ff9900;
}
input.info {
  border: 1px solid #5bc0de;
}
/* 输入框添加左右边距 */
input[type="file"],
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
  vertical-align: baseline;
}
/* 表单里input,select,textarea,button无圆角 */
form .row .prefix-radius.row.collapse input,
form .row .prefix-radius.row.collapse textarea,
form .row .prefix-radius.row.collapse select,
form .row .prefix-radius.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
form .row .prefix-radius.row.collapse .prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
form .row .postfix-radius.row.collapse input,
form .row .postfix-radius.row.collapse textarea,
form .row .postfix-radius.row.collapse select,
form .row .postfix-radius.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
form .row .postfix-radius.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
form .row .prefix-round.row.collapse input,
form .row .prefix-round.row.collapse textarea,
form .row .prefix-round.row.collapse select,
form .row .prefix-round.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
form .row .prefix-round.row.collapse .prefix {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
form .row .postfix-round.row.collapse input,
form .row .postfix-round.row.collapse textarea,
form .row .postfix-round.row.collapse select,
form .row .postfix-round.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
}
form .row .postfix-round.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  border-top-right-radius: 1000px;
}
/* 文本框 */
textarea[rows] {
  height: auto;
}
textarea {
  max-width: 100%;
}
/* 下拉框 */
select {
  font-family: "微软雅黑", Helvetica;
  -webkit-appearance: none !important;
  background-color: #ffffff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 95% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 3px  8px 3px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.75);
  /*line-height: 36px;*/
  border-radius: 0;
  /*height: 36px;*/
  background-size: 25px 5px;
  margin: 0 0 1rem 0;
  *height: 36px;
  *line-height:36px;
  _height: 36px;
  _line-height:36px;

}
select::-ms-expand {
  display: none;
}
select.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select:hover {
  background-color: #ffffff;
  border-color: #2898fd;
  cursor: pointer;
  transition: all linear .2s;
  -webkit-transition: all linear .2s;
  -ms-transition: all linear .2s;
  -moz-transition: all linear .2s;
  -o-transition: all linear .2s;
}
select:focus {
  outline: none;
}
select:disabled {
  background-color: #ddd;
  cursor: default;
}
select[multiple] {
  height: auto;
}
/* 下拉框 */
.f-dropdown {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #FFFFFF;
  border: solid 1px #cccccc;
  font-size: 0.77778rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-top: 2px;
  min-width: 300px;
  max-width: 320px;
}
.f-dropdown.open {
  display: block;
  padding: 10px;
}
.f-dropdown:before {
  border: inset 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent #FFFFFF transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 89;
}
.f-dropdown:after {
  border: inset 7px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 88;
}
.f-dropdown li {
  font-size: 0.77778rem;
  line-height: 1.5rem;
  margin: 0;
  text-align: left;
  word-break: break-all;
}
.f-dropdown > *:first-child {
  margin-top: 0;
}
.f-dropdown > *:last-child {
  margin-bottom: 0;
}
.f-dropdown.right:before {
  left: auto;
  right: 10px;
}
.f-dropdown.right:after {
  left: auto;
  right: 9px;
}
.f-dropdown.drop-right {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #FFFFFF;
  border: solid 1px #cccccc;
  font-size: 0.77778rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-top: 0;
  margin-left: 2px;
  max-width: 320px;
}
.f-dropdown.drop-right.open {
  display: block;
}
.f-dropdown.drop-right > *:first-child {
  margin-top: 0;
}
.f-dropdown.drop-right > *:last-child {
  margin-bottom: 0;
}
.f-dropdown.drop-right:before {
  border: inset 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #FFFFFF transparent transparent;
  border-right-style: solid;
  position: absolute;
  top: 10px;
  left: -12px;
  z-index: 89;
}
.f-dropdown.drop-right:after {
  border: inset 7px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #cccccc transparent transparent;
  border-right-style: solid;
  position: absolute;
  top: 9px;
  left: -14px;
  z-index: 88;
}
.f-dropdown.drop-left {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #FFFFFF;
  border: solid 1px #cccccc;
  font-size: 0.77778rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-top: 0;
  margin-left: -2px;
  max-width: 320px;
}
.f-dropdown.drop-left.open {
  display: block;
}
.f-dropdown.drop-left > *:first-child {
  margin-top: 0;
}
.f-dropdown.drop-left > *:last-child {
  margin-bottom: 0;
}
.f-dropdown.drop-left:before {
  border: inset 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #FFFFFF;
  border-left-style: solid;
  position: absolute;
  top: 10px;
  right: -12px;
  left: auto;
  z-index: 89;
}
.f-dropdown.drop-left:after {
  border: inset 7px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: transparent transparent transparent #cccccc;
  border-left-style: solid;
  position: absolute;
  top: 9px;
  right: -14px;
  left: auto;
  z-index: 88;
}
.f-dropdown.drop-top {
  display: none;
  left: -9999px;
  list-style: none;
  position: absolute;
  background: #FFFFFF;
  border: solid 1px #cccccc;
  font-size: 0.77778rem;
  height: auto;
  max-height: none;
  width: 100%;
  z-index: 89;
  margin-left: 0;
  margin-top: -2px;
  max-width: 320px;
}
.f-dropdown.drop-top.open {
  display: block;
}
.f-dropdown.drop-top > *:first-child {
  margin-top: 0;
}
.f-dropdown.drop-top > *:last-child {
  margin-bottom: 0;
}
.f-dropdown.drop-top:before {
  border: inset 6px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: #FFFFFF transparent transparent transparent;
  border-top-style: solid;
  bottom: -12px;
  position: absolute;
  top: auto;
  left: 10px;
  right: auto;
  z-index: 89;
}
.f-dropdown.drop-top:after {
  border: inset 7px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  border-color: #cccccc transparent transparent transparent;
  border-top-style: solid;
  bottom: -14px;
  position: absolute;
  top: auto;
  left: 9px;
  right: auto;
  z-index: 88;
}
.f-dropdown.content {
  display: none;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  position: absolute;
  background: #FFFFFF;
  border: solid 1px #cccccc;
  font-size: 0.77778rem;
  height: auto;
  max-height: none;
  padding: 1.11111rem;
  width: 100%;
  z-index: 89;
  max-width: 320px;
}
.f-dropdown.content.open {
  display: block;
}
.f-dropdown.content > *:first-child {
  margin-top: 0;
}
.f-dropdown.content > *:last-child {
  margin-bottom: 0;
}
.f-dropdown.radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.f-dropdown.tiny {
  max-width: 200px;
}
.f-dropdown.small {
  max-width: 300px;
}
.f-dropdown.medium {
  max-width: 500px;
}
.f-dropdown.large {
  max-width: 800px;
}
.f-dropdown.mega {
  width: 100% !important;
  max-width: 100% !important;
}
.f-dropdown.mega.open {
  left: 0 !important;
}

/* 文本外框 */
fieldset {
  border: 1px solid #DDDDDD;
  padding: 1.25rem;
  margin: 1.125rem 0;
}
fieldset legend {
  font-weight: bold;
  background: #ffffff;
  padding: 0 0.1875rem;
  margin: 0;
  margin-left: -0.1875rem;
}
.recharge {
  position: relative;
}
.recharge:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 0;
  line-height: 0;
  right: 0;
  bottom: 0;
  background: url(../images/selected.gif) no-repeat right bottom;
  z-index: 99;
}
/* 进度条 */
.progress {
  background-color: #e5e8eb;
  border: 1px solid #ffffff;
  height: 14px;
  margin-bottom: 0.55556rem;
}
.progress .meter {
  background: #2898fd;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress .meter.secondary {
  background: #e9e9e9;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress .meter.success {
  background: #28b779;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress .meter.alert {
  background: #ff4200;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress .meter.info {
  background: #5bc0de;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress .meter.warning {
  background: #ff9900;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.secondary .meter {
  background: #e9e9e9;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.success .meter {
  background: #28b779;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.alert .meter {
  background: #ff4200;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.info .meter {
  background: #5bc0de;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.warning .meter {
  background: #ff9900;
  display: block;
  height: 100%;
  float: left;
  width: 0%;
}
.progress.radius {
  border-radius: 3px;
}
.progress.radius .meter:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
}
.progress.radius .meter:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
}
.progress.round {
  border-radius: 1000px;
}
.progress.round .meter:first-child {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  -webkit-border-top-left-radius: 1000px;
  -webkit-border-bottom-left-radius: 1000px;
  -moz-border-top-left-radius: 1000px;
  -moz-border-bottom-left-radius: 1000px;
}
.progress.round .meter:last-child {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
  -webkit-border-top-right-radius: 1000px;
  -webkit-border-bottom-right-radius: 1000px;
  -moz-border-top-right-radius: 1000px;
  -moz-border-bottom-right-radius: 1000px;
}

/*模块外框*/
.vo-mod-title {
  border-left: 3px solid #2898fd;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
}
p.border-b{
  padding-top: 10px;
  z-index: 0;
}
.btn-more-active{
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 12px;

}


/* 边距.5,10,15,20,25,30,35,40.上下左右默认全局.无边距:no-margin,no-padding */
.mar1 {
  margin: 1px !important;
}
.mar5 {
  margin: 5px !important;
}
.mar7 {
  margin: 7px !important;
}
.mar10 {
  margin: 10px !important;
}
.mar15 {
  margin: 15px !important;
}
.mar20 {
  margin: 20px !important;
}
.mar25 {
  margin: 25px !important;
}
.mar30 {
  margin: 30px !important;
}
.mar35 {
  margin: 35px !important;
}
.mar40 {
  margin: 40px !important;
}
.mar45 {
  margin: 45px !important;
}
.mar50 {
  margin: 50px !important;
}
.margin-t {
  margin-top: 20px !important;
}
.margin-r {
  margin-right: 20px !important;
}
.margin-b {
  margin-bottom: 20px !important;
}
.margin-l {
  margin-left: 20px !important;
}
.margin-l10 {
  margin-left: 10px !important;
}
.margin-t10 {
  margin-top: 10px !important;
}
.margin-b10 {
  margin-bottom: 10px !important;
}
.margin-r10 {
  margin-right: 10px !important;
}
.margin-l30 {
  margin-left: 30px !important;
}
.margin-t30 {
  margin-top: 30px !important;
}
.margin-b30 {
  margin-bottom: 30px !important;
}
.margin-r30 {
  margin-right: 30px !important;
}
.margin-l40 {
  margin-left: 40px !important;
}
.margin-t40 {
  margin-top: 40px !important;
}
.margin-b40 {
  margin-bottom: 40px !important;
}
.margin-r40 {
  margin-right: 40px !important;
}
.margin-l50 {
  margin-left: 50px !important;
}
.margin-t50 {
  margin-top: 50px !important;
}
.margin-b50 {
  margin-bottom: 50px !important;
}
.margin-r50 {
  margin-right: 50px !important;
}
.margin-l70 {
  margin-left: 70px !important;
}
.margin-t70 {
  margin-top: 70px !important;
}
.margin-b70 {
  margin-bottom: 70px !important;
}
.margin-r70 {
  margin-right: 70px !important;
}
.margin-l90 {
  margin-left: 90px !important;
}
.margin-t90 {
  margin-top: 90px !important;
}
.margin-b90 {
  margin-bottom: 90px !important;
}
.margin-r90 {
  margin-right: 90px !important;
}
.margin-l110 {
  margin-left: 110px !important;
}
.margin-t110 {
  margin-top: 110px !important;
}
.margin-b110 {
  margin-bottom: 110px !important;
}
.margin-r110 {
  margin-right: 110px !important;
}
.no-margin {
  margin: 0px !important;
}
.margin-t0 {
  margin-top: 0 !important;
}
.pad1 {
  padding: 1px !important;
}
.pad5 {
  padding: 5px !important;
}
.pad10 {
  padding: 10px !important;
}
.pad15 {
  padding: 15px !important;
}
.pad20 {
  padding: 20px !important;
  *margin-bottom: 20px;
}
.pad25 {
  padding: 25px !important;
}
.pad30 {
  padding: 30px !important;
}
.pad35 {
  padding: 35px !important;
}
.pad40 {
  padding: 40px !important;
}
.pad45 {
  padding: 45px !important;
}
.pad50 {
  padding: 50px !important;
}
.padding-t {
  padding-top: 20px !important;
}
.padding-r {
  padding-right: 20px !important;
}
.padding-b {
  padding-bottom: 20px !important;
}
.padding-l {
  padding-left: 20px !important;
}
.padding-l10 {
  padding-left: 10px !important;
}
.padding-t10 {
  padding-top: 10px !important;
}
.padding-b10 {
  padding-bottom: 10px !important;
}
.padding-r10 {
  padding-right: 10px !important;
}
.padding-l20 {
  padding-left: 20px !important;
}
.padding-l30 {
  padding-left: 30px !important;
}
.padding-t30 {
  padding-top: 30px !important;
}
.padding-b30 {
  padding-bottom: 30px !important;
}
.padding-r30 {
  padding-right: 30px !important;
}
.padding-l40 {
  padding-left: 40px !important;
}
.padding-t40 {
  padding-top: 40px !important;
}
.padding-b40 {
  padding-bottom: 40px !important;
}
.padding-r40 {
  padding-right: 40px !important;
}
.padding-l50 {
  padding-left: 50px !important;
}
.padding-t50 {
  padding-top: 50px !important;
}
.padding-b50 {
  padding-bottom: 50px !important;
}
.padding-r50 {
  padding-right: 50px !important;
}
.padding-l70 {
  padding-left: 70px !important;
}
.padding-t70 {
  padding-top: 70px !important;
}
.padding-b70 {
  padding-bottom: 70px !important;
}
.padding-r70 {
  padding-right: 70px !important;
}
.padding-l90 {
  padding-left: 90px !important;
}
.padding-t90 {
  padding-top: 90px !important;
}
.padding-b90 {
  padding-bottom: 90px !important;
}
.padding-r90 {
  padding-right: 90px !important;
}
.padding-l110 {
  padding-left: 110px !important;
}
.padding-t110 {
  padding-top: 110px !important;
}
.padding-b110 {
  padding-bottom: 110px !important;
}
.padding-r110 {
  padding-right: 110px !important;
}
.no-padding {
  padding: 0px !important;
}

/* 默认TAB */
.tab li {
  text-align: center;
  cursor: pointer;
}
.tab li a:hover {
  text-decoration: none;
}
/* TAB一模块 */
.tab-rec-1 .tab {
  padding: 0;
  font-size: 1rem;
  margin-top: 10px;
}
.tab-rec-1 .tab ul {
  margin: 0;
  border-bottom: 2px solid #2898fd;
}
.tab-rec-1 .tab li {
  float: left;
  height: 38px;
  margin: 0 3px 3px 0;
  font-weight: normal;
  background: #e9e9e9;
}
.tab-rec-1 .tab li a {
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-size: 16px;
}
.tab-rec-1 .tab li.on {
  background: #2898fd;
  font-weight: bold;
  color: #fff;
}
.tab-rec-1 .tab li.on a {
  color: #fff;
  font-weight: bold;
}
.tab-rec-1 .tabmore {
  float: right;
  padding-right: 15px;
  font-size: 14px;
  margin-top: -30px;
  min-width: 80px;
}
.tab-rec-1 .tabmore a {
  color: #ff4200;
}
.tab-rec-1 .modcon {
  background: #fff;
  padding: 20px 0;
  border: none;
}
/* TAB二模块 */
.tab-rec-2 .tab {
  padding: 0;
  font-size: 1rem;
  margin-top: 10px;
}
.tab-rec-2 .tab ul {
  margin: 0 0 0 20px;
  float: left;
}
.tab-rec-2 .tab li {
  float: left;
  height: 28px;
  margin: 0 10px 10px 0;
  font-weight: bold;
  color: #000;
}
.tab-rec-2 .tab li a {
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-size: 16px;
}
.tab-rec-2 .tab li.on {
  background: url(../images/tab-bg-tit.gif) no-repeat;
  background-position: top center;
  font-weight: bold;
  color: #2898fd;
}
.tab-rec-2 .tab li.on a {
  font-weight: bold;
}
.tab-rec-2 .tabmore {
  float: right;
  padding-right: 15px;
  font-size: 14px;
}
.tab-rec-2 .tabmore a {
  color: #ff4200;
}
.tab-rec-2 .modcon {
  background: #fff;
  padding: 15px 0;
  border: none;
}
/*默认模块*/
.modhead {}
.modhead a:hover{text-decoration:none;}
.modtitle { float:left;  }
.modmore { float:right; }
.modcon{ padding:10px; }

.mod-rec-l1 { background:#fff; padding:10px 0px 0px;}
.mod-rec-l1  .modhead { line-height: 50px;height:50px; border-bottom: #eee solid 1px; padding:0 18px;}
.mod-rec-l1 .modhead .modtitle { float: left; font-weight: normal; font-size:22px; text-align: left; padding-left:0px; position:relative;}
.mod-rec-l1 .modhead .modtitle a{  height: 50px;  line-height: 50px;}
.mod-rec-l1 .modhead .modmore { float: right; padding-right: 0px; font-size:12px;width: 350px;}
.mod-rec-l1 .modhead .modmore a{}
.mod-rec-l1 .modcon { background: #fff; padding:0;}

.mod-rec-l2 { background:#fff; padding:10px 0px 0px;}
.mod-rec-l2 .modhead { height: 40px; line-height: 40px; border-bottom: #eee solid 1px; padding:0 18px;}
.mod-rec-l2 .modhead > .modtitle { float: left; font-weight: bold; font-size:16px; text-align: left; padding-left:0px; position:relative;}
.mod-rec-l2  .modhead .modtitle a{  height: 40px;  line-height: 40px;}
.mod-rec-l2 .modhead .modmore { float: right; padding-right: 0px; font-size:12px;}
.mod-rec-l2 .modhead .modmore a{}
.mod-rec-l2 .modcon { background: #fff; padding:0;}

.mod-rec-m1 { background:#fff; padding:10px 18px 15px;}
.mod-rec-m1 .modhead { height: 45px; line-height: 45px; border-bottom: #eee solid 1px; color: #c92701;}
.mod-rec-m1 .modhead .modtitle { float: left; font-weight: bold; text-align: left; padding-left:15px; position:relative;}
.mod-rec-m1 .modhead .modtitle a{  height: 40px;  line-height: 40px;}
.mod-rec-m1 .modhead .modtitle:before {	content:"";	position:absolute;top:12px;	left:0;	height:16px;width:3px;background:#2898fd;}
.mod-rec-m1.modhead .modmore { float: right; padding-right: 6px; font-size:12px;}
.mod-rec-m1 .modhead .modmore a{}
.mod-rec-m1 .modcon { background: #fff; padding: 10px 0 0 0;}

.mod-rec-m2 { background:#fff; padding:6px 18px 13px;}
.mod-rec-m2 .modhead { height: 45px; line-height: 45px; border-bottom: #eee solid 1px; color: #c92701;}
.mod-rec-m2 .modhead .modtitle { float: left; font-weight: bold; text-align: left; position:relative;}
.mod-rec-m2 .modhead .modtitle a{  height: 40px;  line-height: 40px;}
.mod-rec-m2 .modhead .modmore { float: right; padding-right: 6px; font-size:12px;}
.mod-rec-m2 .modcon { background: #fff; padding: 5px 0 0 0;}